.animate-fade-in {
  opacity: 1 !important;
  transform: none !important;
  transition: opacity 0.7s cubic-bezier(0.2, 1, 0.22, 1), transform 0.7s cubic-bezier(0.2, 1, 0.22, 1);
}

[data-animate=true] {
  opacity: 0;
  transform: translateY(30px);
}
